[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
nltk = "*"
transformers = "*"
matplotlib = "*"
wordcloud = "*"
mlxtend = "*"
spacy = "*"
inquirer = "*"
torch = {version = "==2.0.1+cpu", index = "downloadpytorch"}
accelerate = "*"
bleach = "*"

[dev-packages]

[requires]
python_version = "3"
